body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dfdfd7;
    color: #91910f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cover {
    text-align: center;
    background-color: #eab918;
    padding: 30px;
    border-radius: 60px;
}

h1 {
    font-size: 64px;
}

button {
    background-color: #dfe171;
    color: #f4f5b4;
    padding: 10px 20px;
    font-size: 75px;
    border: 30px
    border-radius: 5px;
    cursor: pointer;
}
